<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Menu</title>
  <link rel="stylesheet" href="/foodOrdering/public/styles/menu.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script defer src="/scripts/quantity_selector.js"></script>
  <script defer src="/scripts/add_to_cart.js"></script>
  <script defer src="/scripts/limit_checkbox.js"></script>

  <script defer src="/scripts/menu.js"></script>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: "Poppins", sans-serif;
    }

    main {
      display: flex;
      column-gap: 4em;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }

    /* LEFT SIDE OF SCREEN INCLUDES INFO + MENU*/
    .left-side-screen {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 20px 0 30px;
      flex: 2;
    }

    /* ABOVE MENU - LOGO/DESCR/ICONS */
    .above-menu-descriptions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .above-menu-descriptions>.items {
      padding-bottom: 20px;
    }

    .pickup-delivery-options {
      flex-direction: flex;
      justify-content: space-between;
    }

    /* MENU CATEGORIES - SLIDER */
    .clear {
      clear: both;
    }

    .slide-toggle {
      display: none;
    }

    .slidemenu {
      max-width: 600px;
      margin: 50px auto;
      overflow: hidden;
    }

    .slidemenu label {
      /* width: 25%; */
      text-align: center;
      display: block;
      float: left;
      color: black;
      opacity: 0.2;
    }

    .slidemenu label:hover {
      cursor: pointer;
      color: gray;
    }

    .slidemenu label span {
      display: block;
      padding: 10px;
    }

    /* BAR */
    .slider {
      width: 100%;
      height: 2px;
      display: block;
      background-color: rgb(211, 211, 211);
      margin-top: 10px;
      border-radius: 5px;
    }

    .slider .bar {
      width: 25%;
      height: 5px;
      background: black;
      border-radius: 2px;
    }

    .slidemenu .slide-toggle:checked+label {
      opacity: 1;
    }

    .slidemenu #slide-item-1:checked~.slider .bar {
      margin-left: 0;
    }

    .slidemenu #slide-item-2:checked~.slider .bar {
      margin-left: 25%;
    }

    .slidemenu #slide-item-3:checked~.slider .bar {
      margin-left: 50%;
    }

    .slidemenu #slide-item-4:checked~.slider .bar {
      margin-left: 75%;
    }

    /* ANIMATIONS */
    .slidemenu label,
    .slider .bar {
      transition: all 500ms ease-in-out;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
    }

    /* MENU LAYOUT */

    .menu-options-items {
      display: flex;
      flex-direction: column;
    }

    .description-picture {
      max-width: 300px;
      max-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 2em;
      margin: 0 20px 20px 0;
      padding: 10px;
    }

    .description-picture:hover,
    .description-picture:active {
      cursor: pointer;
      border-radius: 15px;
      box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
        1.5px 1.5px 2.5px rgba(94, 104, 121, 0.3);
    }

    .menu-items {
      border-bottom: gray 1px solid;
      padding: 30px 30px 30px 0;
    }

    .coffee {
      gap: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }


    .bakery {
      gap: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }

    .miscellaneous {
      gap: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }

    .category-header {
      padding-top: 15px;
    }

    .item-name-and-description {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    /* CART */
    .right-side-screen {
      box-sizing: content-box;
      padding: 30px 20px 0 30px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .cart-info {
      position: fixed;
      margin-top: 50px;
      border: 2px gray solid;
      border-radius: 10px;
      width: 300px;
      min-height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
    }

    .cart-header,
    .cart-order-items {
      padding-bottom: 20px;
      border-bottom: 1px solid gray;
    }

    .cart-info>button {
      border: none;
      color: white;
      background-color: black;
      height: 4em;
      border-radius: 10px;
      margin-top: 20px;
    }

    /*CART STYLING ON THE RIGHT */
    .cart-order-item {
      padding-top: 5px;
      display: grid;
      grid-template-columns: 40px 190px 50px;
      padding-bottom: 20px;
    }

    .instruction {
      font-size: 14px;
    }

    .instruction,
    .item-name {
      padding-bottom: 10px;
    }

    .remove {
      color: red;
      cursor: pointer;
      position: relative;
      font-size: 12px;
    }

    .quantity {
      background-color: rgb(215, 215, 215);
      width: 20px;
      height: 20px;
      border-radius: 50px;
      padding-left: 20%;
    }

    /* ARROW TO GO UP TO TOP OF PAGE */
    .arrow-up {
      position: fixed;
      bottom: 30px;
      right: 30px;
      width: 50px;
      height: 50px;
    }

    .checkout {
      border-radius: 10px;
    }

    /* POP UP */

    .popup {
      background-color: #ffffff;
      width: 420px;
      max-height: 650px;
      overflow-y: scroll;
      padding: 30px 40px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 8px;
      font-family: "Poppins", sans-serif;
      text-align: center;
      display: none;
      position: fixed;
      box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
        4px 4px 5px rgba(94, 104, 121, 0.3);
    }

    .close_button {
      color: inherit;
      z-index: 1;
      background: rgb(255, 255, 255);
      box-shadow: rgba(8, 35, 48, 0.24) 0px 4px 8px;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      padding: 6px;
      top: 24px;
      left: 24px;
      border-radius: 50px;
      border: none;
      position: fixed;
    }

    .option_titles {
      display: flex;
    }

    .option_boxes {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      position: relative;
      user-select: none;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      transition: background-color 0.25s ease 0s;
      padding: 16px;
      opacity: 1;
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(8, 35, 48, 0.24) 0px 2px 4px;
      border-radius: 4pt;
      cursor: pointer;
      /* border: 2px solid rgb(250, 85, 83); */
      margin-bottom: 12px;
    }

    .option_names {
      padding-left: 10px;
      user-select: none;
      cursor: pointer;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      width: 100%;
    }

    .price {
      user-select: none;
      cursor: pointer;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5;
      color: rgb(122, 125, 138);
    }

    .special_request {
      width: 100%;
      box-sizing: border-box;
      background: rgb(245, 245, 245);
      border: 1px solid rgb(238, 238, 238);
      padding: 8px;
      border-radius: 4pt;
      margin-top: 8px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      resize: none;
    }

    .bottom_panel {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding-top: 15px;
    }

    .quantity_selector {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }

    .quantity_button {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      background-color: rgb(238, 238, 238);
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      border-radius: 100%;
      height: 48px;
      width: 48px;
      padding: 0px;
      cursor: pointer;
      user-select: none;
      border: none;
      transition: background-color 0.25s ease 0s;
      margin-right: 10px;
    }

    #quantity {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5;
      margin-right: 10px;
    }

    #add_cart {
      background-color: rgb(250, 85, 83);
      color: rgb(255, 255, 255);
      border: none;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4;
      -webkit-box-flex: 1;
      flex-grow: 1;
      border-radius: 4pt;
      margin-left: 16px;
      margin-top: 11px;
      padding: 0px;
      cursor: pointer;
      transition: background-color 0.25s ease 0s;
    }

    /* CHECKOUT POP UP - ENTER IN PHONE NUMBER */
    .checkout-container {
      height: 100vh;
      display: none;
      padding: 10px 40px;
      position: absolute;
      left: 40%;
      top: 10%;
      position: fixed;
    }

    .popup-phone {
      background-color: white;
      width: 50vh;
      height: 40vh;
      position: absolute;
      top: 5%;
      left: 40%;
      display: block;
      flex-direction: column;
      align-items: center;
      padding-left: 40px;
      padding-top: 30px;
      box-shadow: 5px 5px 9px rgba(255, 255, 255, 0.45),
        1.5px 1.5px 2.5px rgba(94, 104, 121, 0.3);
    }

    #phone {
      width: 338px;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
    }

    input {
      margin-bottom: 20px;
      margin-top: 10px;
      border-radius: 5px;
    }

    .confirm-btn {
      width: 338px;
      height: 40px;
      font-size: 18px;
      border: none;
      color: white;
      background-color: black;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <main class="container">
    <!-- LEFT SIDE - CONTAINS MENU-->
    <div class="left-side-screen">
      <div class="above-menu-descriptions">
        <!-- LOGO  -->
        <div class="logo items" id="logo">
          <a href="#"><img src="/images/cup.png" alt="logo" style="width: 70px; height: 40px" /></a>
        </div>

        <p class="items">Coffee • Baked Goods</p>

        <p class="items">Open 10:00 AM - 5:00PM <a href="#">More Info</a></p>

        <div class="pickup-delivery-options items">
          <img src="/images/tag.png" alt="pickup or delivery" style="width: 200px; height: 50px" />
          <img src="/images/now.png" alt="now" style="width: 100px; height: 50px" />
        </div>
      </div>

      <!-- MENU - OPTIONS - CATEGORIES -->

      <nav class="slidemenu">
        <!-- Item 1 -->
        <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked />
        <label for="slide-item-1"><span id="mostpopular-span">Most Popular</span></label>

        <!-- Item 2 -->
        <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" checked />
        <label for="slide-item-2"><span id="coffee-span">Coffee</span></label>

        <!-- Item 3 -->
        <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" checked />
        <label for="slide-item-3"><span id="bakery-span">Bakery</span></label>

        <!-- Item 4 -->
        <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" checked />
        <label for="slide-item-4"><span id="miscellaneous-span">Miscellaneous</span></label>

        <div class="clear"></div>

        <!-- BAR -->
        <div class="slider">
          <div class="bar"></div>
        </div>
      </nav>

      <!-- MENU -->
      <div class="menu-options-items">

        <!-- COFFEE - ITEMS-->
        <h2 class="category-header">Coffee</h2>
        <div class="coffee menu-items" id="coffee">
          <% for (let key in coffeeObject) { %>
            <div class="popup" id="popup-<%= key%>">
              <div>
                <button class="close_button" c>&times;</button>
              </div>
              <div class="description">
                <img
                src=<%= coffeeObject[key].thumbnail_photo_url %>
                style=" width: 250px; height: 200px;"
                />
                <h2 id="item_name-<%= key%>">
                  <%= coffeeObject[key].name %>
                </h2>
                <p>
                  <%= coffeeObject[key].description %>
                </p>
              </div>
              <form class="add-to-cart" data-id="<%= key %>">
                <div class="size">
                  <div class="option_titles">
                    <h3>Size</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="size_s" name="size" value="small" />
                    <div class="option_names">
                      <div>
                        <label for="size_s">Small (8oz)</label>
                      </div>
                      <div class="price">
                        $<%= coffeeObject[key].price %>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="size_m" name="size" value="medium" />
                    <div class="option_names">
                      <div>
                        <label for="size_m">Medium (12oz)</label>
                      </div>
                      <div class="price">$<%= coffeeObject[key].price+0.75 %></div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="size_l" name="size" value="large" />
                    <div class="option_names">
                      <div>
                        <label for="size_l">Large (16oz)</label>
                      </div>
                      <div class="price">$<%= coffeeObject[key].price+1.5 %></div>
                    </div>
                  </div>
                </div>

                <div class="espresso_option">
                  <div class="option_titles">
                    <h3>Espresso Option</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="checkbox" id="decaf" name="espresso_option" value="decaf" />
                    <div class="option_names">
                      <div>
                        <label for="decaf">Make it Decaf</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="checkbox" id="extra_shot" name="espresso_option" value="extra_shot" />
                    <div class="option_names">
                      <div>
                        <label for="extra_shot">Extra Espresso Shot</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                </div>

                <div class="milk">
                  <div class="option_titles">
                    <h3>Milk</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="whole_milk" name="milk" value="whole_milk" />
                    <div class="option_names">
                      <div>
                        <label for="whole_milk">Whole Milk</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="skim_milk" name="milk" value="skim_milk" />
                    <div class="option_names">
                      <div>
                        <label for="skim_milk">Skim Milk</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="almond_milk" name="milk" value="almond_milk" />
                    <div class="option_names">
                      <div>
                        <label for="almond_milk">Almond Milk</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="soy_milk" name="milk" value="soy_milk" />
                    <div class="option_names">
                      <div>
                        <label for="soy_milk">Soy Milk</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="oat_milk" name="milk" value="oat_milk" />
                    <div class="option_names">
                      <div>
                        <label for="oat_milk">Oat Milk</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="option_titles">
                    <h3>Sepcial Request</h3>
                  </div>
                  <textarea class="special_request" id="special_request-<%= key%>"></textarea>
                </div>
                <div class="bottom_panel">
                  <div class="quantity_selector">
                    <button type="button" class="quantity_button" data-id="<%= key%>">-</button>
                    <div id="quantity-<%= key%>">1</div>
                    <button type="button" class="quantity_button" data-id="<%= key%>">+</button>
                  </div>
                  <button type="submit" id="add_cart">Add To Cart</button>
                </div>
              </form>
            </div>

            <div class="description-picture" data-id="<%= key %>">
              <div class="item-name-and-description">
                <h4 id="item-name-<%= key%>">
                  <%= coffeeObject[key].name %>
                </h4>
                <br />
                <p id="item-description-<%= key%>">
                  <%= coffeeObject[key].description %>
                </p>
                <br />
                <h4 id="item-price-<%= key%>">
                  $<%= coffeeObject[key].price %>
                </h4>
              </div>
              <img src=<%=coffeeObject[key].thumbnail_photo_url%>
              style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
            <% } %>
        </div>

        <!-- BAKERY -->
        <h2 class="category-header">Bakery</h2>
        <div class="bakery menu-items" id="bakery">
          <% for (let key in bakeryObject) { %>
            <div class="popup" id="popup-<%= key%>">
              <div>
                <button class="close_button" c>&times;</button>
              </div>
              <div class="description">
                <img
                src=<%= bakeryObject[key].thumbnail_photo_url %>
                style=" width: 250px; height: 200px;"
                />
                <h2 id="item_name-<%= key%>">
                  <%= bakeryObject[key].name %>
                </h2>
                <p>
                  <%= bakeryObject[key].description %>
                </p>
              </div>
              <form class="add-to-cart" data-id="<%= key%>">
                <div class="size">
                  <div class="option_titles">
                    <h3>Flavour</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="flavour_chocolate_hazelnut" name="flavour" value="chocolate_hazelnut" />
                    <div class="option_names">
                      <div>
                        <label for="flavour_chocolate">Chocolate Hazelnut</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="flavour_almond_butter" name="flavour" value="medium" />
                    <div class="option_names">
                      <div>
                        <label for="flavour_almond_butter">Almond Butter</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="white_chocolate" name="size" value="large" />
                    <div class="option_names">
                      <div>
                        <label for="white_chocolate">White Chocolate</label>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="option_titles">
                    <h3>Sepcial Request</h3>
                  </div>
                  <div>
                  <textarea class="special_request" id="special_request-<%= key%>"></textarea>
                </div>
                <div class="bottom_panel">
                  <div class="quantity_selector">
                    <button type="button" class="quantity_button" data-id="<%= key%>">-</button>
                    <div id="quantity-<%= key%>">1</div>
                    <button type="button" class="quantity_button" data-id="<%= key%>">+</button>
                  </div>
                  <button type="submit" id="add_cart">Add To Cart</button>
                </div>
              </form>
            </div>
            <div class="description-picture" data-id="<%= key %>">
              <div class="item-name-and-description">
                <h4 id="item-name-<%= key%>">
                  <%= bakeryObject[key].name %>
                </h4>
                <br />
                <p id="item-description-<%= key%>">
                  <%= bakeryObject[key].description %>
                </p>
                <br />
                <h4 id="item-price-<%= key%>">
                  $<%= bakeryObject[key].price %>
                </h4>
              </div>
              <img src=<%=bakeryObject[key].thumbnail_photo_url%>
              style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
            <% } %>
        </div>

        <!-- Miscellaneous -->
        <h2 class="category-header">Miscellaneous</h2>
        <div class="miscellaneous menu-items" id="miscellaneous">
          <% for (let key in miscellaneousObject) { %>
            <div class="popup" id="popup-<%= key%>">
              <div class=".close">
                <button class="close_button" c>&times;</button>
              </div>
              <div class="description">
                <img
                src=<%= miscellaneousObject[key].thumbnail_photo_url %>
                style=" width: 250px; height: 200px;"
                />
                <h2 id="item_name-<%= key%>">
                  <%= miscellaneousObject[key].name %>
                </h2>
                <p>
                  <%= miscellaneousObject[key].description %>
                </p>
              </div>
              <form class="add-to-cart" data-id="<%= key%>">
                  <div class="option_titles">
                    <h3>Special Request</h3>
                  </div>
                  <div>
                  <textarea class="special_request" id="special_request-<%= key%>"></textarea>
                </div>
                <div class="bottom_panel">
                  <div class="quantity_selector">
                    <button type="button" class="quantity_button" data-id="<%= key%>">-</button>
                    <div id="quantity-<%= key%>">1</div>
                    <button type="button" class="quantity_button" data-id="<%= key%>">+</button>
                  </div>
                  <button type="submit" id="add_cart">Add To Cart</button>
                </div>
              </form>
            </div>

            <div class="description-picture" data-id="<%= key %>">
              <div class="item-name-and-description">
                <h4 id="item-name-<%= key%>">
                  <%= miscellaneousObject[key].name %>
                </h4>
                <br />
                <p id="item-description-<%= key%>">
                  <%= miscellaneousObject[key].description %>
                </p>
                <br />
                <h4 id="item-price-<%= key%>">
                  $<%= miscellaneousObject[key].price %>
                </h4>
              </div>
              <img src=<%=miscellaneousObject[key].thumbnail_photo_url%>
              style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
            <% } %>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE - CONTAINS CART/CHECKOUT -->
    <div class="right-side-screen">
      <div class="cart-info">
        <div class="cart-header">
          <h2>Your Cart (<span class="cart-item-count">0</span>)</h2>
          <p>Pick up at</p>
          <p>Ready in</p>
        </div>
        <div class="cart-order-items"></div>
        <button class="checkout" style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 20px;
              padding-right: 20px;
            ">
          Checkout <span class="subtotal">$0</span>
        </button>
      </div>
    </div>
    <div class="arrow-up">
      <a href="#logo"><img src="/images/arrow-up.png" alt="arrow-up" class="arrow-up" />
      </a>
    </div>
  </main>

  <!-- CHECKOUT DIV -->
  <main class="checkout-container">
    <div class="popup-phone">
      <h2>Enter your mobile number</h2>
      <p style="padding-top: 20px; font-size: 14px">
        Your mobile phone number is your login - it’s also how we alert you
        when your food is ready
      </p>
      <br />
      <label for="phone" style="font-size: 10px">Phone Number (your mobile phone number is your login)</label><br />

        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="(123) 456-7890"
        required />
      <br />
      <button class="confirm-btn">Confirm order</button>
    </div>
  </form>
  </main>
</body>

</html>
