<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Menu</title>
  <link rel="stylesheet" href="/foodOrdering/public/styles/menu.css" />
  <link rel="stylesheet" href="/styles/menu.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet" />

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/quantity_selector.js"></script>
  <script defer src="/scripts/add_to_cart.js"></script>
  <script defer src="/scripts/limit_checkbox.js"></script>
  <script defer src="/scripts/cart.js"></script>
  <script defer src="/scripts/menu.js"></script>
</head>

<body>
  <main class="container">
    <!-- LEFT SIDE - CONTAINS MENU-->
    <div class="left-side-screen">
      <div class="above-menu-descriptions">
        <!-- LOGO  -->
        <div class="logo items" id="logo">
          <a href="/"><img src="/images/cup.png" alt="logo" style="width: 70px; height: 40px" /></a>
        </div>

        <p class="items">Coffee • Baked Goods</p>

        <p class="items">Open 10:00 AM - 5:00PM <a href="#">More Info</a></p>

        <div class="pickup-delivery-options items">
          <img src="/images/tag.png" alt="pickup or delivery" style="width: 200px; height: 50px" />
          <img src="/images/now.png" alt="now" style="width: 100px; height: 50px" />
        </div>
      </div>

      <!-- MENU - OPTIONS - CATEGORIES -->

      <nav class="slidemenu">
        <!-- Item 1 -->
        <!-- <input type="radio" name="slideItem" id="slide-item-1" class="slide-toggle" checked />
        <label for="slide-item-1"><span id="mostpopular-span">Most Popular</span></label> -->

        <!-- Item 2 -->
        <input type="radio" name="slideItem" id="slide-item-2" class="slide-toggle" checked />
        <label for="slide-item-2"><span id="coffee-span">Coffee</span></label>

        <!-- Item 3 -->
        <input type="radio" name="slideItem" id="slide-item-3" class="slide-toggle" checked />
        <label for="slide-item-3"><span id="bakery-span">Bakery</span></label>

        <!-- Item 4 -->
        <input type="radio" name="slideItem" id="slide-item-4" class="slide-toggle" checked />
        <label for="slide-item-4"><span id="miscellaneous-span">Miscellaneous</span></label>

        <div class="clear"></div>

        <!-- BAR -->
        <div class="slider">
          <div class="bar"></div>
        </div>
      </nav>

      <!-- MENU -->
      <div class="menu-options-items">

        <!-- COFFEE - ITEMS-->
        <h2 class="category-header">Coffee</h2>
        <div class="coffee menu-items" id="coffee">
          <% for (let key in coffeeObject) { %>
            <div class="popup" id="popup-<%= key%>">
              <div>
                <button class="close_button" c>&times;</button>
              </div>
              <div class="description">
                <img
                src=<%= coffeeObject[key].thumbnail_photo_url %>
                style=" width: 250px; height: 200px;"
                />
                <h2 id="item_name-<%= key%>">
                  <%= coffeeObject[key].name %>
                </h2>
                <p>
                  <%= coffeeObject[key].description %>
                </p>
              </div>
              <form class="add-to-cart" data-id="<%= key %>">
                <div class="size">
                  <div class="option_titles">
                    <h3>Size</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="size_s" name="size" value="small" />
                    <div class="option_names">
                      <div>
                        <label for="size_s">Small (8oz)</label>
                      </div>
                      <div class="price">
                        $<%= coffeeObject[key].price %>.00
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="size_m" name="size" value="medium" />
                    <div class="option_names">
                      <div>
                        <label for="size_m">Medium (12oz)</label>
                      </div>
                      <div class="price">$<%= coffeeObject[key].price+0.75 %></div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="size_l" name="size" value="large" />
                    <div class="option_names">
                      <div>
                        <label for="size_l">Large (16oz)</label>
                      </div>
                      <div class="price">$<%= coffeeObject[key].price+1.5 %>0</div>
                    </div>
                  </div>
                </div>

                <div class="espresso_option">
                  <div class="option_titles">
                    <h3>Espresso Option</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="checkbox" id="decaf" name="espresso_option" value="decaf" />
                    <div class="option_names">
                      <div>
                        <label for="decaf">Make it Decaf</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="checkbox" id="extra_shot" name="espresso_option" value="extra_shot" />
                    <div class="option_names">
                      <div>
                        <label for="extra_shot">Extra Espresso Shot</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                </div>

                <div class="milk">
                  <div class="option_titles">
                    <h3>Milk</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="whole_milk" name="milk" value="whole_milk" />
                    <div class="option_names">
                      <div>
                        <label for="whole_milk">Whole Milk</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="skim_milk" name="milk" value="skim_milk" />
                    <div class="option_names">
                      <div>
                        <label for="skim_milk">Skim Milk</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="almond_milk" name="milk" value="almond_milk" />
                    <div class="option_names">
                      <div>
                        <label for="almond_milk">Almond Milk</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="soy_milk" name="milk" value="soy_milk" />
                    <div class="option_names">
                      <div>
                        <label for="soy_milk">Soy Milk</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="oat_milk" name="milk" value="oat_milk" />
                    <div class="option_names">
                      <div>
                        <label for="oat_milk">Oat Milk</label>
                      </div>
                      <div class="price">$1</div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="option_titles">
                    <h3>Special Request</h3>
                  </div>
                  <textarea class="special_request" name="special_request" id="special_request-<%= key%>"></textarea>
                </div>
                <div class="bottom_panel">
                  <div class="quantity_selector">
                    <button type="button" class="quantity_button" data-id="<%= key%>">-</button>
                    <div id="quantity-<%= key%>">1</div>
                    <button type="button" class="quantity_button" data-id="<%= key%>">+</button>
                  </div>
                  <button type="submit" id="add_cart">Add To Cart</button>
                </div>
              </form>
            </div>
            <div class="description-picture" data-id="<%= key %>">
              <div class="item-name-and-description">
                <h4 id="item-name-<%= key%>">
                  <%= coffeeObject[key].name %>
                </h4>
                <br />
                <p id="item-description-<%= key%>">
                  <%= coffeeObject[key].description %>
                </p>
                <br />
                <h4 id="item-price-<%= key%>">
                  $<%= coffeeObject[key].price %>.00
                </h4>
              </div>
              <img src=<%=coffeeObject[key].thumbnail_photo_url%>
              style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
            <% } %>
        </div>

        <!-- BAKERY -->
        <h2 class="category-header">Bakery</h2>
        <div class="bakery menu-items" id="bakery">
          <% for (let key in bakeryObject) { %>
            <div class="popup" id="popup-<%= key%>">
              <div>
                <button class="close_button" c>&times;</button>
              </div>
              <div class="description">
                <img
                src=<%= bakeryObject[key].thumbnail_photo_url %>
                style=" width: 250px; height: 200px;"
                />
                <h2 id="item_name-<%= key%>">
                  <%= bakeryObject[key].name %>
                </h2>
                <p>
                  <%= bakeryObject[key].description %>
                </p>
              </div>
              <form class="add-to-cart" data-id="<%= key%>">
                <div class="size">
                  <div class="option_titles">
                    <h3>Flavour</h3>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="flavour_chocolate_hazelnut" name="flavour" value="chocolate_hazelnut" />
                    <div class="option_names">
                      <div>
                        <label for="flavour_chocolate">Chocolate Hazelnut</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="flavour_almond_butter" name="flavour" value="almond_butter" />
                    <div class="option_names">
                      <div>
                        <label for="flavour_almond_butter">Almond Butter</label>
                      </div>
                    </div>
                  </div>
                  <div class="option_boxes">
                    <input type="radio" id="white_chocolate" name="flavour" value="white_chocolate" />
                    <div class="option_names">
                      <div>
                        <label for="white_chocolate">White Chocolate</label>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="option_titles">
                    <h3>Special Request</h3>
                  </div>
                  <div>
                  <textarea class="special_request" name="special_request" id="special_request-<%= key%>"></textarea>
                </div>
                <div class="bottom_panel">
                  <div class="quantity_selector">
                    <button type="button" class="quantity_button" data-id="<%= key%>">-</button>
                    <div id="quantity-<%= key%>">1</div>
                    <button type="button" class="quantity_button" data-id="<%= key%>">+</button>
                  </div>
                  <button type="submit" id="add_cart">Add To Cart</button>
                </div>
              </form>
            </div>
            <div class="description-picture" data-id="<%= key %>">
              <div class="item-name-and-description">
                <h4 id="item-name-<%= key%>">
                  <%= bakeryObject[key].name %>
                </h4>
                <br />
                <p id="item-description-<%= key%>">
                  <%= bakeryObject[key].description %>
                </p>
                <br />
                <h4 id="item-price-<%= key%>">
                  $<%= bakeryObject[key].price %>.00
                </h4>
              </div>
              <img src=<%=bakeryObject[key].thumbnail_photo_url%>
              style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
            <% } %>
        </div>

        <!-- Miscellaneous -->
        <h2 class="category-header">Miscellaneous</h2>
        <div class="miscellaneous menu-items" id="miscellaneous">
          <% for (let key in miscellaneousObject) { %>
            <div class="popup" id="popup-<%= key%>">
              <div class=".close">
                <button class="close_button" c>&times;</button>
              </div>
              <div class="description">
                <img
                src=<%= miscellaneousObject[key].thumbnail_photo_url %>
                style=" width: 250px; height: 200px;"
                />
                <h2 id="item_name-<%= key%>">
                  <%= miscellaneousObject[key].name %>
                </h2>
                <p>
                  <%= miscellaneousObject[key].description %>
                </p>
              </div>
              <form class="add-to-cart" data-id="<%= key%>">
                  <div class="option_titles">
                    <h3>Special Request</h3>
                  </div>
                  <div>
                  <textarea class="special_request" name="special_request" id="special_request-<%= key%>"></textarea>
                </div>
                <div class="bottom_panel">
                  <div class="quantity_selector">
                    <button type="button" class="quantity_button" data-id="<%= key%>">-</button>
                    <div id="quantity-<%= key%>">1</div>
                    <button type="button" class="quantity_button" data-id="<%= key%>">+</button>
                  </div>
                  <button type="submit" id="add_cart">Add To Cart</button>
                </div>
              </form>
            </div>

            <div class="description-picture" data-id="<%= key %>">
              <div class="item-name-and-description">
                <h4 id="item-name-<%= key%>">
                  <%= miscellaneousObject[key].name %>
                </h4>
                <br />
                <p id="item-description-<%= key%>">
                  <%= miscellaneousObject[key].description %>
                </p>
                <br />
                <h4 id="item-price-<%= key%>">
                  $<%= miscellaneousObject[key].price %>.00
                </h4>
              </div>
              <img src=<%=miscellaneousObject[key].thumbnail_photo_url%>
              style="width: 250px; height: 100px; border-radius: 20px"
              />
            </div>
            <% } %>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE - CONTAINS CART/CHECKOUT -->
    <div class="right-side-screen">
      <div class="cart-info">
        <div class="cart-header">
          <h2>Your Cart (<span class="cart-item-count">0</span>)</h2>
          <h5 style="font-size: 14px">Pick up at: 999 Lighthouse Street</h5>
          <div style="display: flex; justify-content: space-between; font-size: 17px; padding-bottom: 5px;">
            <div>Ready in:</div> <div style="display: flex;"><div id="estimate_time">0</div> <div style="padding-left: 4px;">min</div></div>
          </div>
        </div>
        <div class="cart-order-items"></div>
        <button class="checkout" style="
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-left: 20px;
              padding-right: 20px;
              height: 50px;
              font-size: 18px;
            ">
          Checkout<div>$ <span class="subtotal">0</span></div>
        </button>
      </div>
    </div>
    <div class="arrow-up">
      <a href="#logo"><img src="/images/arrow-up.png" alt="arrow-up" class="arrow-up" />
      </a>
    </div>
  </main>

  <!-- CHECKOUT DIV -->
  <main class="checkout-container">
    <div class="popup-phone">
      <h2>Enter your mobile number</h2>
      <p style="padding-top: 20px; font-size: 14px">
        Your mobile phone number is your login - it’s also how we alert you
        when your food is ready
      </p>
      <br />
      <form id="confirm-order" method="post" action="/checkout">
        <input id="customer-name" name="name" placeholder="Enter Your Name"
        required /><br>
      <label for="phone" style="font-size: 10px">Phone Number (your mobile phone number is your login)</label><br />

        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="(123) 456-7890"
        required />
      <br />
      <button type="submit" class="confirm-btn">Confirm order</button>

    </form>
    </div>

  </main>
</body>

</html>
